:root {
  --primary-color: rgb(121, 180, 142);
  --lighter-color: #f6f1fe;
  --secondary-color: rgb(73, 72, 72);
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --font: "Zen Maru Gothic", sans-serif;
}

@media (max-width: 576px) {
  .homepage-img {
    display: none;
  }
  .homepage-container {
    text-align: center;
  }
  .app-btn {
    display: block;
  }
}

body {
  font-family: var(--font);
}

h1 {
  font-weight: 700;
}

.homepage {
  text-align: center;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  border-radius: 4px;
  margin: 20px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
}

.contact-link {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
}

.contact-link:hover {
  border: 1px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
}

.contact p {
  text-align: center;
  text-decoration: none;
  margin-bottom: 0px;
  font-size: 18px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.app-btn {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  padding: 15px 15px;
}

.app-btn:hover {
  border: 1px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
}

.about-paragraphs {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  line-height: 1.5;
}

.contact-paragraphs {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  color: var(--secondary-color);
}

.contact-paragraphs p {
  background: var(--lighter-color);
  line-height: 1.5;
  margin: 10px;
  padding: 20px;
}
